*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    padding-top: 150px;
    background: linear-gradient(135deg, purple, #0e6ba1, #d82424);
}
.todo{
    background: #fff;
    width: 100%;
    min-width: 200px;
    max-width: 900px;
    padding: 20px 10px 10px 40px;
    margin: 0 auto;
    border: none;
    border-radius: 18px;
    position: relative;
    padding-bottom: 30px;
}
.todo h5{
    display: flex;
    font-size: 25px;
    margin-bottom: 23px;
    align-items: center;
    
}
.todo h5 img{
    height: 30px;
    position: relative;
    margin-left: 10px;
}
.todo h5::before{
    content: '';
    left: 5px;
    right: 5px;
    width: 98%;
    height: 3px;
    position: absolute;
    background: #0e6ba1;
    margin-top: 38px;
}
.todo .BtnInput{
    display: flex;
    background: rgb(221, 210, 210);
    align-items: center;
    width: 93%;
    height: 48px;
    border-radius: 24px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.todo .BtnInput input{
    flex: 1;
    font-size: 16px;
    background: transparent;
    border: none;
    padding-left: 20px;
    font-size: 17px;
    outline: none;
}
button{
    background: #72135e;
    border: none;
    outline: none;
    height: 100%;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    width: 70px;
    color: #fff;
    font-size: 18px;
}
.todo ul{
    list-style: none;
    line-height: 38px;
    font-size: 20px;
    left: 20px;
    position: relative;
    margin-left: 35px;
    cursor: pointer;
}
.todo ul li{
    font-size: 25px;
}
.todo ul li::before{
    content: '';
    width: 22px;
    height: 22px;
    background: url(icons/circle.svg);
    position: absolute;
    left: -35px;
    margin-top: 8px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
ul li.checked{
    text-decoration: line-through;
    color: #d82424;
}
ul li.checked::before{
    background-image: url(icons/patch-check-fill.svg);
}
ul li span{
    position: absolute;
    right: 80px;;
    font-size: 30px;
    padding-top: -10px;
    justify-content: center;
    text-align: center;
    background: #dbd5d5;
    height: 4px;
    width: 30px;
    border-radius: 8px;
    transition: all 0.4s ease;
    cursor: pointer;
}
ul li span:hover{
    background: #f06a6a;
}

@media only screen and (max-width: 600px){
    .todo{
        background: #fff;
        width: 80%;
        max-width: 490px;
        padding: 20px 10px 10px 40px;
        margin: 0 auto;
        border: none;
        border-radius: 18px;
        position: relative;
        padding-bottom: 30px;
    }
    .todo .BtnInput{
        display: flex;
        background: rgb(221, 210, 210);
        align-items: center;
        width: 100%;
        height: 38px;
        border-radius: 19px;
        margin-bottom: 20px;
        margin-top: 12px;
    }
    .todo ul li{
        font-size: 18px;
    }
    .todo .BtnInput input{
        flex: 1;
        font-size: 16px;
        background: transparent;
        border: none;
        padding-left: 20px;
        font-size: 17px;
        outline: none;
    }
    button{
        background: #72135e;
        border: none;
        outline: none;
        height: 100%;
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
        width: 50px;
        color: #fff;
        font-size: 16px;
    }
}